.buttons{
    width:40%;
    margin-left: 25%;
    padding:5%;
    position: absolute;
    margin-top: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15%;
    row-gap: 20%;
}
button{
    height:4rem;
    border-radius: 5cm;
    border:0px;
    line-height: 42px;
    padding: 0;
    border: none;
    transition: 0.4s;
    font-size: 1.5rem;
}
button:hover{
    cursor: pointer;
    background-color:#252525;
    color:white;
}
body{
    height:100vh;
}